* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    font-weight: bolder;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}
/* Make all buttons have the same border, font size, etc. Consistency! */

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px black solid;
    border-radius: 15px;
    padding: 25px 15px 25px 15px;
    margin: 50px;
    background-color: white;
    background-image: url(./images/plant.jpg);
    background-size: 700px;
}

#output-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(190, 190, 190);
    border: 3px black solid;
    border-radius: 15px;
    width: 236px;
    height: 60px;
    margin-bottom: 15px;
    /* These two below work on the text and how it overflows.
        *overflow: hidden; makes it so the overflow is hidden once it leaves the div
        *white-space: nowrap; makes it so the text only stays on one line and doesn't create two or more lines to fit the content, just like how a calculator works!
    */
    overflow: hidden;
    white-space: nowrap;
}

 #output-text {
    font-size: 30px;
    padding-right: 8px;
}

#input-section {
    display: grid;
    grid-template-columns: auto auto auto auto;

    gap: 10px;
}

#backspace-button {
    grid-column-start: 2;
}

#zero-button {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 116px;
}

.digit-button,
.operation-button,
.final-button {
    height: 50px;
    width: 50px;
    border-radius: 15px;
    border: 2px black solid;
    background-color: rgb(173, 199, 173)
}

.operation-button {
    background: rgb(76, 195, 76)
}

#clear-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}

#clear-button,
#equal-button,
#backspace-button {
    background-color: rgb(123, 123, 123);
}

#period-button {
    background-color: rgb(173, 199, 173)
}
#equal-button {
    background-color: rgb(123, 123, 123);
}